<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Eto.Forms" version="2.8.3" targetFramework="net462" />
  <package id="HtmlAgilityPack" version="1.11.70" targetFramework="net462" />
  <package id="Microsoft.Web.WebView2" version="1.0.1587.40" targetFramework="net462" />
  <package id="SkiaSharp" version="1.68.2.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net462" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.6.0" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net462" />
</packages>